# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive\1_Daten_Dokumente_Backup\1_Laptop_Backup_PC\Programmieren_Python\FHDW_BiLight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
